{{!-- You can use curly braces in your markup, so long as it is not a mustache ("{{" or "}}") --}}
<article data-json='{"foo":"bar"}'>
    <h1>{{ article.title }}</h1>
    {{!-- The article.date object does not exist --}}
    <p>{{ article.date.localized }}</p>
    <figure>
        {{image
            article.img.srcset.0
            article.img.srcset[1]
            article.img.srcset[2]
            article.img.srcset[100w]
            }}

        {{!-- A helper to provide a default value for a value which does not exist --}}
        <caption>{{resolve  article.img.meta.caption      'An image of unknown origin' }}</caption>
    </figure>

    {{!-- An ifEqual custom helper. Notice the space after "#" is ok --}}
    {{# ifEqual article.type 'webpage'}}
    <main class="webpage">
        <h2>This is a web page</h2>
    {{ else #ifEqual article.type "article"}}{{!-- Use double or single quotes in string literals --}}
    <main class="article">
        <h2>This is an article</h2>
    {{else}}
    <main class="any">
        <h2>This is not a web page or an article</h2>
    {{/ifEqual}}{{/ifEqual}}
        <p>{{format_date article[Published Date] format="DATE_MED" }}</p>
    </main>

    {{!-- We forgot the opening mustache here, which means the whole thing will be printed:
        "<p>Copyright copyright.year }}</p>" --}}

    <p>Copyright copyright.year }}</p>

    {{!-- An empty list --}}
    {{#each article.tableOfContents as |item|}}
    <a href="#{{ item.id }}">{{ item.label }}</a>
    {{else}}
    <p>There are no contents items to list</p>
    {{/each}}
</article>
