<header>
    <p>This is the header</p>
    <nav class="site-nav">
        <ul class="site-nav__list">
            {{#each navMenuSections as |group|}}
            <li class="site-nav__group">
                <a href="#" >
                    <span>{{ group.label }}</span>
                </a>
                <ul>
                    {{#each group.pages as |page|}}
                    <li>
                        <a href="{{ page.url }}">{{ site.name }} : {{ group.label }} : {{ page.label }}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </nav>
</header>
