<footer id="site-footer">
    <div id="site-footer__section-1" class="background-2">
        <div class="site-width-container site-footer__row no-link-decoration">
            <a href="/" id="site-footer__logo">
                <img src="https://kixx.imgix.net/nydynamo/objects/3f88b9b2b8327cd3fa7950349e8e5149c2ed35ceace7e193037046237e2db481" alt="Capital Arena" />
            </a>
            <div>
                {{phone_link contactInfo.phone id="site-footer__phone" }}
            </div>
            <div id="site-footer__address">
                <address>
                    16 Clifton Common Blvd<br />
                    Clifton Park, NY 12065
                </address>
                <a class="button button--filled" href="https://maps.app.goo.gl/QXLd8mHxTR8yGiJTA">
                    <span class="button__icon material-symbols-rounded">pin_drop</span>
                    <span class="button__label">Google Map</span>
                </a>
            </div>
        </div>
    </div>

    <div id="site-footer__section-2" class="inverted-background">

        <nav class="site-width-container site-footer__row no-link-decoration">
            <a href="/"><span class="material-symbols-rounded">home</span> Home</a>
            <a href="/schedule"><span class="material-symbols-rounded">calendar_month</span> Schedule</a>
            <a href="/capital-arena-responsibility-code"><span class="material-symbols-rounded">rule</span> Responsibility Code</a>
        </nav>
        <nav class="site-width-container site-footer__row no-link-decoration">
            {{#each nav_menu_sections as |menu_item|}}
            <div class="footer-nav-group">
                <span class="footer-nav-group__label">{{ menu_item.label }}</span>
                <ul>
                    {{#each menu_item.pages as |page|}}
                    <li>
                        <a href="{{ page.url }}">{{ page.label }}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
            <div class="footer-nav-group">
                <span class="footer-nav-group__label">Contact</span>
                <ul>
                    <li>{{email_link contactInfo.email }}</li>
                    <li><a href="https://www.facebook.com/CapitalArena/">Follow on Facebook</a></li>
                    <li><a href="https://www.instagram.com/capital_arena_rink/">Follow on Instagram</a></li>
                </ul>
                <p class="font-sm-1">Interested in working at Capital Arena?<br>
                Email Capital Arena careers at {{email_link contactInfo.email_jobs }}</p>
            </div>
        </nav>
    </div>
</footer>

<script>{{> a-script.js }}</script>
