html {
    --site-width: {{ styles.siteWidth }};
    --layout-right-left-margin: {{ styles.layoutRightLeftMargin }};
    /* Sets the rm size for the rest of the styles */
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    /*
    Set up a full height grid to stick the footer to the bottom of the
    viewport. This creates a top row for the header, a middle row for
    main content, and a bottom row for the footer
     */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: Monaco monospace;
    background-color: #222;
    color: #ddd;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.6;
    /* Mobile font size */
    font-size: 1.125em;
    letter-spacing: 0.0125em;
}

.site-width-container {
    margin-left: var(--layout-right-left-margin);
    margin-right: var(--layout-right-left-margin);
}
@media screen and (min-width: 1080px) {
    .site-width-container {
        max-width: calc(var(--site-width) - var(--layout-right-left-margin) * 2);
        margin-left: auto;
        margin-right: auto;
    }
}
